.Navbar{
    display: flex;
    margin-top: 2%;
    border-bottom: 1px solid rgb(176, 176, 176);
    margin-left: 2%;
    width: auto;
}
.main-content{
    display: flex;
    margin-top: 30px;
    border-left: 50px;
}
.note{
    display: flex;
}
.right-content{
    display: flex;
}
.left-content{
    top:50px;
    position: absolute;
    left: 1000px;
    display: flex;  
    float: left; 
    width: 450px;
}
#username{
    font-size: 30px;
}
#welcome{
    color: rgb(62, 181, 235);
    font-weight: 100;
    margin-top: 100px;
}
#Nav-Head{
    color: rgb(62, 181, 235);
    font-weight: 100;
    margin-bottom: 0px;
    font-size: 35px;
}
.content{
    display: inline;
    padding-left: 2%;
    width: 500px;
}
#Nav-sub{
    font-size: 20px;  
}
#profile-pic{
    height: 70px;
    width: 70px;
    margin-left: 40px;
}
.alphabets {
    display: flex;
    margin-bottom: 10px;
}
.search-filter{
    margin-bottom: 10px;
} 
.alphabets > button {
    background-color: DodgerBlue;
    color: white;
    width: 40px;
    margin: 2px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border: none;
  }
#card-display-box{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(200, 200, 200);
    height: 450px;
    margin: 10px;
    align-content: flex-start;
}
.card-body{
    display: flex;
}
.card{
    background-color: #efeeeeee;
    width: 100px;
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
dd{
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-title{
    margin-top: 3px;
    margin-bottom: 3px;
}
.card-subtitle{
    margin-top: 3px;
    margin-bottom: 3px;
    height: auto;
    width: auto;
}
.card-img  {
    overflow: hidden;
    max-height: 70px;  
    max-width: 70px;
    width: auto;
    height: auto;
}
.card-dp{
    margin-top: 5px;
    margin-left: 5px;
}
.card-content{
    margin-left: 5px;
    margin-top: 5px;
}
.fa{
    color:  #8d8d8dee;
}
.form-group{
    display: flex;
}
.side-filter{
    margin-left: 50px;
    margin-right: 50px;
}

