.Navbar{
    display: flex;
    margin-top: 2%;
    border-bottom: 1px solid rgb(176, 176, 176);
    margin-left: 2%;
}
.main-content{
    display: flex;
}
.right-content{
    display: flex;
}
.left-content{
    display: flex;   
}
.content{
    display: inline;
    padding-left: 2%;
}

#Nav-Head{
    font-size: 230%;
}
#Nav-sub{
    font-size: 120%;  
}
#profile-pic{
    height: 70px;
    width: 70px
}
.alphabets {
    display: flex;
}
  
.alphabets > button {
    background-color: DodgerBlue;
    color: white;
    width: 40px;
    margin: 3px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border: none;
  }
#card-display-box{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(200, 200, 200);
    height: 450px;
    margin: 10px;
    align-content: flex-start;
}
.card-body{
    display: flex;
}
.card{
    background-color: #efeeeeee;
    width: 100px;
    height: 80px;
    margin: 10px;
}
.card-title{
    margin-top: 3px;
    margin-bottom: 3px;
}
.card-subtitle{
    margin-top: 3px;
    margin-bottom: 3px;
    height: auto;
    width: auto;
}
.card-img  {
    overflow: hidden;
    max-height: 70px;  
    max-width: 70px;
    width: auto;
    height: auto;
}
.card-dp{
    margin-top: 5px;
    margin-left: 5px;
}
.card-content{
    margin-left: 5px;
    margin-top: 5px;
}
.fa{
    color:  #8d8d8dee;
}
.form-group{
    display: flex;
}